@{
    ViewData["Title"] = "Home Page";
    var session =Convert.ToString(ViewBag.session);
}

<div class="text-center">
    <h1 class="display-4">Welcome  @ViewBag.session</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <p>Already have an account ?   <a asp-controller="Validation" asp-action="Login">Go to login</a> </p>
</div>
